---
import Layout from "@/layouts/Layout.astro";
import FormCommunity from "@/sections/FormCommunity.astro";
import FormFusionCommunities from "@/sections/FormFusionCommunities.astro";
import { ViewCommunities } from "@/components/react/ViewCommunities";
import { actions } from "astro:actions";
import StackBackIcon from "@/icons/StackBackIcon.astro";
const { id } = Astro.params;

let titlePage = "Comunidades | Plataforma";
let descriptionPage = "Gestión de comunidades";
let infoParish = null;

try {
  const { data, error } = await Astro.callAction(actions.getParishById, {
    id: Number(id),
  });
  if (error || !data.success) {
    throw new Error(
      error?.message || data?.message || "Error al obtener la parroquia",
    );
  }
  infoParish = data.data;
  titlePage = `Comunidades de ${infoParish?.name} | Plataforma`;
  descriptionPage = `Gestión de comunidades de la parroquia ${infoParish?.name}`;
} catch (error) {
  console.error("Error fetching parish data:", error);
  titlePage = "Error al cargar parroquia";
  descriptionPage = "No se pudo cargar la información de la parroquia";
}
---

<Layout title={titlePage} description={descriptionPage}>
  {
    infoParish && (
      <main class="main-grid">
        <section class="flex flex-col gap-4">
          <FormCommunity
            id={Number(id)}
            name={infoParish ? infoParish.name : undefined}
          />
          <FormFusionCommunities
            parishId={Number(id)}
            parishName={infoParish ? infoParish.name : undefined}
          />
        </section>
        <section class="card-section" transition:name="section-view">
          <header>
            <h2 class="text-3xl font-semibold mb-4 flex items-center gap-2 font-forum">
              <StackBackIcon class="block size-8 text-neutral-500" />
              <span>
                Comunidades de "{infoParish ? infoParish.name : "la parroquia"}"
              </span>
            </h2>
          </header>
          <ViewCommunities client:load parishId={Number(id)} />
        </section>
      </main>
    )
  }

  {
    !infoParish && (
      <section
        class="card-section max-w-5xl mx-auto"
        transition:name="section-view"
      >
        <header>
          <h2 class="text-center text-2xl font-semibold mb-4">Error</h2>
        </header>
        <div class="text-red-500 flex flex-col gap-1 items-center text-lg">
          <p>
            No se pudo cargar la información de la parroquia. Por favor, intenta
            nuevamente más tarde.
          </p>
          <p>Verifica que el ID de la parroquia en la URL sea correcto.</p>
        </div>
      </section>
    )
  }
</Layout>
